.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 3rem;
}

h1 {
  font-size: 2rem;
  letter-spacing: 2px;
  font-family: inherit;
  padding: 1rem;
  border: 1px solid wheat;
  border-radius: 5px;
  width: 70%;
}

p {
  padding: 3rem 1rem;
  border: 1px solid wheat;
  border-radius: 5px;
  line-height: 3;
}
