<h1>User Details</h1>
<div class="underline"></div>
<div *ngIf="user">
  <h3>{{ user.name }}</h3>
  <p><strong>Username:</strong> {{ user.username }}</p>
  <p><strong>Email:</strong> {{ user.email }}</p>
  <p><strong>Phone:</strong> {{ user.phone }}</p>
  <p><strong>Website:</strong> {{ user.website }}</p>
  <p><strong>Address:</strong></p>
  <p>{{ user.address.street }}, {{ user.address.suite }}</p>
  <p>{{ user.address.city }}, {{ user.address.zipcode }}</p>
  <p><strong>Company:</strong></p>
  <p><span class="company">Name:</span> {{ user.company.name }}</p>
  <p>
    <span class="company">Catch Phrase:</span> {{ user.company.catchPhrase }}
  </p>
  <p><span class="company">Business Services:</span> {{ user.company.bs }}</p>
</div>
<button routerLink="/users">Back to Users</button>
<button routerLink="/users/{{ userId }}/posts">User Posts</button>
