.post-card {
  margin: 1rem;
  padding: 1rem;
  border-radius: 8px;
  box-shadow: 0px 2px 4px rgba(230, 224, 224, 0.1);
  transition: transform 0.2s ease-in-out;
  max-width: 400px;

  &:hover {
    transform: scale(1.03);
  }
}

div {
  color: black;
}
div h2 {
  color: wheat;
}

.card-div {
  display: grid;
  grid-template-columns: repeat(
    auto-fill,
    minmax(300px, 1fr)
  ); /* Responsive grid columns */
  gap: 20px; /* Gap between grid items */
}

@media (max-width: 775px) {
  .card-div {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.mat-mdc-card-header {
  display: flex;
  justify-content: space-between;
  color: #5b8fb9;
}

.mat-mdc-card-title {
  margin-bottom: 10px;
  margin-top: 1rem;
}

.mat-mdc-card-content {
  color: gray;
}

button {
  padding: 10px 20px;
  background-color: #5b8fb9;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-top: 10px;
  font-size: 14px;
  margin-right: 1rem;
  margin-top: 2rem;
}

button:hover {
  background-color: #406e8e;
}

@media (min-width: 1024px) and (max-width: 1239px) {
  .card-div {
    display: flex;
    align-items: center;
    flex-direction: column;
  }
}
